<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<link rel="icon" href="/static/favicon.ico">
<link rel="stylesheet" href="/static/css/style.css">
<title>지역 선택</title>
<!-- <script src="/static/js/main.js"></script> -->
<script src="../static/js/util.js"></script>
</head>
<body>
  <header class="main-header"><a href="index.html" class="home-link">오늘의 날씨</a></header>
  <div class="container">
    <h1 class="title">지역을 선택하세요.</h1>
    <form action="/submit" method="post" class="form-region">
      <div class="form-group">
        <label for="region" class="form-label">지역 선택</label>
        <select id="region" name="region" class="form-select" onchange="updateCities(this.value)">
        </select>
      </div>

      <div class="form-group">
        <label for="city" class="form-label">도시 선택</label>
        <select id="city" name="city" class="form-select" onchange="validateForm()" disabled>
        </select>
      </div>

      <input type="submit" id="submit" class="btn" value="제출" disabled>
    </form>
    <hr class="divider">
    <form action="/notification" method="post" class="form-notification">
      <p class="info-text">알림을 받으시겠습니까?</p>
      <div class="form-group radio-group">
        <input type="radio" id="agree" name="status" value="true" class="radio-input" onchange="toggleNotificationControls()">
        <label for="status" class="radio-label">동의</label><br>

        <input type="radio" id="disagree" name="status" value="false" class="radio-input" onchange="toggleNotificationControls()">
        <label for="status" class="radio-label">비동의</label><br>
      </div>
      <div class="form-group">
        <label for="alarmTime" class="form-label">알람 시간 선택</label>
        <select id="alarmTime" name="alarmTime" class="form-select" disabled>
            <option value="00">00:00</option>
            <option value="01">01:00</option>
            <option value="02">02:00</option>
            <option value="03">03:00</option>
            <option value="04">04:00</option>
            <option value="05">05:00</option>
            <option value="06">06:00</option>
            <option value="07" selected>07:00</option>
            <option value="08">08:00</option>
            <option value="09">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
            <option value="20">20:00</option>
            <option value="21">21:00</option>
            <option value="22">22:00</option>
            <option value="23">23:00</option>

        </select>
      </div>

      <input type="submit" id="save" class="btn" value="설정 저장" disabled>
    </form>
  <a href="{{ url_for('air') }}" style="font-size:smaller !important;">> 미세먼지 정보 보러가기</a>
  </div>
</body>
</html>
