<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>지역 및 도시 선택</title>
<script src="/static/js/main.js"></script>
<script src="/static/js/util.js"></script>
</head>
<body>
<form action="/submit" method="post">
  <label for="region">지역 선택:</label>
  <select id="region" name="region" onchange="updateCities(this.value)">
    <!-- 지역 옵션은 자바스크립트로 채워집니다 -->
  </select>

  <label for="city">도시 선택:</label>
  <select id="city" name="city" onchange="validateForm()" disabled>
    <!-- 도시 선택은 초기에 비활성화되어 있습니다 -->
  </select>

  <input type="submit" id="submit" value="제출" disabled>
</form>
<hr>

<form action="/notification" method="post">
        <p>알림을 받으시겠습니까?</p>
        <label for="status">동의</label>
        <input type="radio" id="agree" name="status" value="true" onchange="toggleNotificationControls()"><br>

        <label for="status">비동의</label>
        <input type="radio" id="disagree" name="status" value="flase" onchange="toggleNotificationControls()"><br>
        <label for="alarmTime">알람 시간 선택:</label>
        <select id="alarmTime" name="alarmTime" disabled>
            <option value="00">00:00</option>
            <option value="01">01:00</option>
            <option value="02">02:00</option>
            <option value="03">03:00</option>
            <option value="04">04:00</option>
            <option value="05">05:00</option>
            <option value="06">06:00</option>
            <option value="07" selected>07:00</option>
            <option value="08">08:00</option>
            <option value="09">09:00</option>
            <option value="10">10:00</option>
            <option value="11">11:00</option>
            <option value="12">12:00</option>
            <option value="13">13:00</option>
            <option value="14">14:00</option>
            <option value="15">15:00</option>
            <option value="16">16:00</option>
            <option value="17">17:00</option>
            <option value="18">18:00</option>
            <option value="19">19:00</option>
            <option value="20">20:00</option>
            <option value="21">21:00</option>
            <option value="22">22:00</option>
            <option value="23">23:00</option>
        </select>


  <input type="submit" id="save" value="설정 저장" disabled>
    </form>

</body>
</html>
